body,
html {
    text-align: center;
    margin: 50px;
}


table,
td,
th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.form {
    margin-top: 20px;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.rectangle {
    position: relative;
    width: 100px;
    height: 20px;
    background-color: rgb(24, 75, 75);
}

.grandpaDiv {
    position: relative;
    display: block;
    height: 40px;
}

.parentDiv {
    text-align: center;
}
.parentDiv a {
    text-align: center;
    display: inline-block;
        margin: 0 5px; /* Adjust spacing */
        font-size: 20px;
}


.icon-trash {
    margin-left: 10px;
    float: left;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 15px;
}

.icon-edit {
    text-align: right;
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    justify-content: right;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* .icon-book {
    width: 30px;
    height: 30px;
    justify-content: left;
    text-align: right;

    position: relative;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.icon-cheese {
    width: 30px;
    height: 30px;
    justify-content: right;
    text-align: left;

    position: relative;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}


a {
    position: absolute;
    bottom: 12px;
    right: 20px;
}