{% extends 'base.html' %}

{% block head %}
<title>Food Spots</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Food Spots</h1>
    <div style="text-align: center" class="form">
        <form action="/map/{{ id }}" method="POST">
            <!-- populate list from backend func -->
            <ul>
                {% for location, address in locations.items() %}
                <li>{{ location }} <input type="checkbox" name="checked" value="{{location}} - {{address}}"></li>
                {%endfor%}
            </ul>
            <input type="submit" value="Map It">
        </form>
    </div>
</div>
{% endblock %}