{% extends 'base.html' %}

{% block head %}
<title>Scheduler</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Scheduler</h1>
    {% if events|length < 1 %} <h4 style="text-align: center">Create an event below!</h4>
        <table class="styled-table">
            <form style="text-align: center" action="/" method="POST">
                <td><input type="text" placeholder="name" name="name" id="name"></td>
                <td><input type="text" placeholder="location" name="location" id="location"></td>
                <td><input type="time" name="startTime" id="startTime"></td>
                <td><input type="time" name="endTime" id="endTime"></td>

                <td><input type="submit" value="Add Event"></td>

            </form>
        </table>

        {% else %}

        <div style="text-align: center" class="form">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for event in events%}
                <tbody>
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.location }}</td>
                        <td>{{ event.startTime.time() }}</td>
                        <td>{{ event.endTime.time() }}</td>
                        <td>
                            <a href="/delete/{{event.id}}">Delete</a>
                            <br>
                            <a href="/update/{{event.id}}">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <form style="text-align: center" action="/" method="POST">
                            <td><input type="text" placeholder="name" name="name" id="name"></td>
                            <td><input type="text" placeholder="location" name="location" id="location"></td>
                            <td><input type="time" name="startTime" id="startTime"></td>
                            <td><input type="time" name="endTime" id="endTime"></td>

                            <td><input type="submit" value="Add Event"></td>
                        </form>

                    </tr>
                </tbody>
            </table>

            <form style="text-align: center" action="/" method="POST">
                <a href="/map">Map</a>
            </form>
            {% endif %}

        </div>
</div>