<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f5ee08629fd7e426adc8098dc54e26ee {
                    position: relative;
                    width: 800.0px;
                    height: 500.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f5ee08629fd7e426adc8098dc54e26ee" ></div>
        
</body>
<script>
    
    
            var map_f5ee08629fd7e426adc8098dc54e26ee = L.map(
                "map_f5ee08629fd7e426adc8098dc54e26ee",
                {
                    center: [43.0757, -89.404],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 15,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_455948a81b02196cabd6c73d4ac0fd76 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_455948a81b02196cabd6c73d4ac0fd76.addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
            var marker_81bff8c2637f071eb8d4bb41ef908552 = L.marker(
                [43.0719998, -89.4076733],
                {
}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
        var popup_3a60605d88d61c9885b8e4fbf2468218 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7402d71e9e25b93826d63b1baa917d86 = $(`<div id="html_7402d71e9e25b93826d63b1baa917d86" style="width: 100.0%; height: 100.0%;">Union South</div>`)[0];
                popup_3a60605d88d61c9885b8e4fbf2468218.setContent(html_7402d71e9e25b93826d63b1baa917d86);
            
        

        marker_81bff8c2637f071eb8d4bb41ef908552.bindPopup(popup_3a60605d88d61c9885b8e4fbf2468218)
        ;

        
    
    
            var marker_22ec69ac497f19f1396523979c286a24 = L.marker(
                [43.0730787, -89.4092156],
                {
}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
        var popup_64d688d5f42b5e6ca333e0932f783af0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7f75b672a0f517a07295d8b75908b576 = $(`<div id="html_7f75b672a0f517a07295d8b75908b576" style="width: 100.0%; height: 100.0%;">Library Cafe & Bar</div>`)[0];
                popup_64d688d5f42b5e6ca333e0932f783af0.setContent(html_7f75b672a0f517a07295d8b75908b576);
            
        

        marker_22ec69ac497f19f1396523979c286a24.bindPopup(popup_64d688d5f42b5e6ca333e0932f783af0)
        ;

        
    
    
            var marker_bb7bf29a8b7f71d868e35645f05fc3ad = L.marker(
                [43.0676509, -89.40816029999999],
                {
}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
        var popup_b613a260c74b17c11e5cda212bc101ab = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f0744510c0fac4c99e845354e878437c = $(`<div id="html_f0744510c0fac4c99e845354e878437c" style="width: 100.0%; height: 100.0%;">Lucky's 1313 Brew Pub</div>`)[0];
                popup_b613a260c74b17c11e5cda212bc101ab.setContent(html_f0744510c0fac4c99e845354e878437c);
            
        

        marker_bb7bf29a8b7f71d868e35645f05fc3ad.bindPopup(popup_b613a260c74b17c11e5cda212bc101ab)
        ;

        
    
    
            var marker_885ae9d8c52070a5b1e8b7c37e5249f4 = L.marker(
                [43.067827, -89.40643899999999],
                {
}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
        var popup_20141aa21e91171c3a858bdb029efd71 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_77441a06d56f781bb74ef099229178d8 = $(`<div id="html_77441a06d56f781bb74ef099229178d8" style="width: 100.0%; height: 100.0%;">The Red Zone Madison</div>`)[0];
                popup_20141aa21e91171c3a858bdb029efd71.setContent(html_77441a06d56f781bb74ef099229178d8);
            
        

        marker_885ae9d8c52070a5b1e8b7c37e5249f4.bindPopup(popup_20141aa21e91171c3a858bdb029efd71)
        ;

        
    
    
            var marker_c2cd0bf0a25bb1143d7504dd9193bad5 = L.marker(
                [43.0747424, -89.4045057],
                {
}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
        var popup_d98dbabc6b0f12a3105b62993ffbd05b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a6da40f999c39316dcbe94c0237e2828 = $(`<div id="html_a6da40f999c39316dcbe94c0237e2828" style="width: 100.0%; height: 100.0%;">van vleck hall</div>`)[0];
                popup_d98dbabc6b0f12a3105b62993ffbd05b.setContent(html_a6da40f999c39316dcbe94c0237e2828);
            
        

        marker_c2cd0bf0a25bb1143d7504dd9193bad5.bindPopup(popup_d98dbabc6b0f12a3105b62993ffbd05b)
        ;

        
    
    
            var poly_line_3f8e04af03599aa7eb4bb64226cc8cd3 = L.polyline(
                [[43.0721, -89.40897], [43.07229, -89.40896], [43.07279, -89.40894], [43.07297, -89.40897], [43.073, -89.40899], [43.07308, -89.40899]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
            var poly_line_2c9929fabe1ab5006aab70d26644faa6 = L.polyline(
                [[43.07308, -89.40899], [43.073, -89.40899], [43.07298, -89.40903], [43.07282, -89.40907], [43.07223, -89.40908], [43.07158, -89.40907], [43.07086, -89.40908], [43.0706, -89.40905], [43.07028, -89.40905], [43.07021, -89.40907], [43.07014, -89.40912], [43.0701, -89.40916], [43.07003, -89.4091], [43.06998, -89.40907], [43.06986, -89.40904], [43.06979, -89.40901], [43.06965, -89.40901], [43.06931, -89.40902], [43.06838, -89.40901], [43.06776, -89.409], [43.06775, -89.40837]],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
            var poly_line_1bc4343b0b2e9eed5367ce99b22b7f4b = L.polyline(
                [[43.06775, -89.40837], [43.06773, -89.40641]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
            var poly_line_4f43efe6d0d076858330edda87879a4c = L.polyline(
                [[43.06773, -89.40641], [43.06768, -89.40248], [43.06766, -89.40088], [43.06931, -89.40086], [43.07, -89.40081], [43.07096, -89.40074], [43.07177, -89.40071], [43.07191, -89.40069], [43.07234, -89.40061], [43.07262, -89.40056], [43.07316, -89.40055], [43.07327, -89.40056], [43.07342, -89.40064], [43.07379, -89.40064], [43.07415, -89.40064], [43.07422, -89.40064], [43.07422, -89.40082], [43.07422, -89.4014], [43.07422, -89.40186], [43.07422, -89.40194], [43.07416, -89.40227], [43.07408, -89.40243], [43.07399, -89.40255], [43.07394, -89.40266], [43.07391, -89.40287], [43.07392, -89.40311], [43.07394, -89.40322], [43.07397, -89.40336], [43.07401, -89.40336], [43.07408, -89.40335], [43.07415, -89.40331], [43.07425, -89.40319], [43.07432, -89.40314], [43.07436, -89.40313], [43.07446, -89.40314], [43.07453, -89.40317], [43.07458, -89.40323], [43.0746, -89.40335], [43.07465, -89.40377], [43.07472, -89.40389], [43.0748, -89.40393]],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
    
            tile_layer_455948a81b02196cabd6c73d4ac0fd76.addTo(map_f5ee08629fd7e426adc8098dc54e26ee);
        
</script>
</html>